/* ~~~~~~~~~~~~~~ */
/* color variables */
/* ~~~~~~~~~~~~~~ */
:root {
  --primaryColor: #444444;
  --secondaryColor: #ffdd67;
  --tertiaryColor: #535945;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul li {
  list-style: none;
  float: left;
  background: var(--secondaryColor);
  color: var(--tertiaryColor);
  padding: 15px 20px;
  font-size: 20px;
  margin: 10px;
  animation: animate 1s infinite alternate;
  perspective: 500px;
}

@keyframes animate {
  from {
    transform: scale(1) translateY(0) rotateX(0deg);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }

  to {
    transform: scale(1.35) translateY(-25px) rotateX(45deg);
    box-shadow: 0 30px 5px rgba(0, 0, 0, .1);
  }
}

ul li:nth-child(1) {
  animation-delay: .2s;
}

ul li:nth-child(2) {
  animation-delay: .4s;
}

ul li:nth-child(3) {
  animation-delay: .6s;
}

ul li:nth-child(4) {
  animation-delay: .8s;
}

ul li:nth-child(5) {
  animation-delay: 1s;
}

ul li:nth-child(6) {
  animation-delay: 1.2s;
}

ul li:nth-child(7) {
  animation-delay: 1.4s;
}